{% extends "base.html.twig" %}

{% block title %}About us{% endblock %}

{% block body %}
<h1>Nous sommes une agence web spécialisée dans la création de solutions numériques innovantes et dans le partage d’actualités technologiques à travers le monde. Notre mission est d’informer, d’inspirer et d’accompagner les passionnés de technologie, les développeurs et les entreprises en leur proposant du contenu pertinent sur les dernières tendances du numérique, du développement web, de l’intelligence artificielle et de l’innovation digitale.</h1>

{% endblock %}